@model List<FolderRecord<NoteRecord>>

@section ExtraHead{
    <link id="note-stylesheet" rel="stylesheet" href="~/css/MyNotes/Index.css">
}

<button id="create-folder-btn" class="btn btn-secondary">Create New Folder</button>

<dialog id="create-folder-dialog">
    <h6 for="exampleInputEmail1">Folder name</h6>
    
    <input maxlength="20" id="exampleInputEmail1" type="text" class="form-control" placeholder="Enter folder name">
    <br />
    <button type="submit" class="btn btn-secondary">Create</button>
   
</dialog>

@foreach(FolderRecord<NoteRecord> folder in Model)
{

    <div class="folder">
        <p class="folder-name">@folder.Name</p>
        <div class="scroller snaps-inline">

            <div class="scroller-element create-element">
                <p class="title create-text prevent-select">Create note</p>
                <div class="bar"></div>
                <div class="bar" style="rotate: 90deg;"></div>
            </div>

            @foreach(NoteRecord note in folder.Records)
            {
                <a href="/Editor/@folder.Name/@note.Title">
                <div class="scroller-element">
                    <p class="title prevent-select">@note.Title</p>
                    <p class="paragraph prevent-select">@note.Content</p>
                    <div class="fader"></div>
                </div>
                </a>

            }


        </div>

    </div>

}


@section Scripts{
    <script src="~/js/MyNotes/Index.js"></script>
}

