<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AALKisMVCUI</title>
    @RenderSection("ExtraHead", required: false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AALKisMVCUI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home">Edu Notes</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Keywords" asp-action="Index">Keywords</a>
                <div class="search-bar">
                    <img src="~/svg/icon_search.svg" class="search-bar-icon" />
                    <form asp-controller="Search" asp-action="Index" method="get">
                        <input class="input-no-borders" type="text" placeholder="Search notes" name="q">
                    </form>
                </div>
                <a class="navbar-brand" style="visibility: hidden;">Edu Notes</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@@2.9.2/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
