@model List<NoteCategoryRecord>

@section ExtraHead{
    <link id="note-stylesheet" rel="stylesheet" href="~/css/NotesView/Index.css">
}

<ol class="category-container">
    @foreach(var category in Model)
    {
        <li class="category">
            <h1>@category.Name</h1>
            <ol class="note-container">
                @foreach(var note in category.Notes)
                {
                    <li class="note">
                        <h3>@note.Name</h3>
                    </li>
                }
                <li class="new-note">
                    <h3>Create a new note</h3>
                </li>
            </ol>
        </li>
    }
    <li class="new-category">
        <h1>Create a new Category</h1>
    </li>
</ol>

@section Scripts{
    <script src="~/js/NotesView/Index.js"></script>
}

