@model List<NoteCategoryRecord>

@section ExtraHead{
    <link id="note-stylesheet" rel="stylesheet" href="~/css/NotesView/Index.css">
}

<div class="media-scroller snaps-inline">

    <div class="media-element">
        <p class="title create-text">Create note</p>
        <div class="bar"></div>
        <div class="bar" style="rotate: 90deg;"></div>

    </div>

    <div class="media-element">
        <p class="title">Short title</p>
        <p class="paragraph">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>

    </div>

    <div class="media-element">
        <p class="title">Short title</p>
        <p class="paragraph">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>

    </div>

    <div class="media-element">
        <p class="title">Short title</p>
        <p class="paragraph">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>

    </div>

    <div class="media-element">
        <p class="title">Short title</p>
        <p class="paragraph">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>

    </div>


    <div class="media-element">
        <p class="title">Short title</p>
        <p class="paragraph">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>

    </div>

    <div class="media-element">
        <p class="title">Short title</p>
        <p class="paragraph">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>

    </div>


</div>

@section Scripts{
    <script src="~/js/NotesView/Index.js"></script>
}

