@model List<FolderRecord<NoteRecord>>

@section ExtraHead{
    <link id="note-stylesheet" rel="stylesheet" href="~/css/NotesView/Index.css">
}
<div class="catalog">
    <p class="catalog-name">Folder 1</p>
    <div class="media-scroller snaps-inline">

        <div class="media-element">
            <p class="title create-text prevent-select">Create note</p>
            <div class="bar"></div>
            <div class="bar" style="rotate: 90deg;"></div>

        </div>

        <div class="media-element">
            <p class="title prevent-select">Short title</p>
            <p class="paragraph prevent-select">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>
            <div class="fader"></div>
        </div>

        <div class="media-element">
            <p class="title prevent-select">Short title</p>
            <p class="paragraph prevent-select">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>
            <div class="fader"></div>
        </div>

        <div class="media-element">
            <p class="title prevent-select">Short title</p>
            <p class="paragraph prevent-select">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>
            <div class="fader"></div>
        </div>

        <div class="media-element">
            <p class="title prevent-select">Short title</p>
            <p class="paragraph prevent-select">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>
            <div class="fader"></div>
        </div>

        <div class="media-element">
            <p class="title prevent-select">Short title</p>
            <p class="paragraph prevent-select">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>
            <div class="fader"></div>
        </div>

        <div class="media-element">
            <p class="title prevent-select">Short title</p>
            <p class="paragraph prevent-select">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>
            <div class="fader"></div>
        </div>

        <div class="media-element">
            <p class="title prevent-select">Short title</p>
            <p class="paragraph prevent-select">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>
            <div class="fader"></div>
        </div>

        <div class="media-element">
            <p class="title prevent-select">Short title</p>
            <p class="paragraph prevent-select">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>
            <div class="fader"></div>
        </div>

        <div class="media-element">
            <p class="title prevent-select">Short title</p>
            <p class="paragraph prevent-select">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>
            <div class="fader"></div>
        </div>


    </div>

</div>
<div class="catalog">
    <p class="catalog-name">Folder 2</p>
    <div class="media-scroller snaps-inline">

        <div class="media-element">
            <p class="title create-text prevent-select">Create note</p>
            <div class="bar"></div>
            <div class="bar" style="rotate: 90deg;"></div>

        </div>

        <div class="media-element">
            <p class="title prevent-select">Short title</p>
            <p class="paragraph prevent-select">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>
            <div class="fader"></div>
        </div>

        <div class="media-element">
            <p class="title prevent-select">Short title</p>
            <p class="paragraph prevent-select">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>
            <div class="fader"></div>
        </div>


    </div>

</div>
<div class="catalog">
    <p class="catalog-name">Folder 3</p>
    <div class="media-scroller snaps-inline">

        <div class="media-element">
            <p class="title create-text prevent-select">Create note</p>
            <div class="bar"></div>
            <div class="bar" style="rotate: 90deg;"></div>

        </div>

        <div class="media-element">
            <p class="title prevent-select">Short title</p>
            <p class="paragraph prevent-select">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>
            <div class="fader"></div>
        </div>

        <div class="media-element">
            <p class="title prevent-select">Short title</p>
            <p class="paragraph prevent-select">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>
            <div class="fader"></div>
        </div>

        <div class="media-element">
            <p class="title prevent-select">Short title</p>
            <p class="paragraph prevent-select">Short titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort titleort titleShort titleShort titleShort titleShort titleShort title</p>
            <div class="fader"></div>
        </div>



    </div>

</div>


@section Scripts{
    <script src="~/js/NotesView/Index.js"></script>
}

