@model NoteRecord

@{
    ViewData["Title"] = "Editor";
}

@section ExtraHead {
    <link id="note-stylesheet" rel="stylesheet" href="~/css/Editor/Index.css">
}

<div class="container editor-container">
    <h1>Currently editing "@(Model.Title)"</h1>
    <span id="editor-textarea" role="textbox" contenteditable>@Html.Raw(Model.Content)</span>
</div>
<footer>
        <div id="editor-status"></div>
</footer>

@section Scripts {
    <script src="~/js/Editor/Index.js"></script>
}
